Package: com.jonluca.masterrepoeasyinstall
Name: MasterRepoEasyInstall
Depends: 
Version: 1.8
Architecture: iphoneos-arm
Description: Easy install for MasterRepo.list
Maintainer: JonLuca De Caro
Author: JonLuca De Caro
Section: System
